.sidebar {
    flex: 1;
    border-right: 0.5px solid rgb(240, 234, 234);
    min-height: 100vh;
    background-color: white;
    .top {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        .logo {
            font-size: 32px;
            font-weight: 100;
            color: #0284c7b3;
        }
    }

    .line {
        height: 0.5px;
        background-color:rgb(240, 234, 234);
    }

    .center {
        padding-left: 10px;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            .title {
                font-size: 10px;
                font-weight: bold;
                color: #999;
                margin-top: 15px;
                margin-bottom: 5px;
            }

            li {
                display: flex;
                align-items: center;
                padding: 5px;
                cursor: pointer;

                &:hover {
                    background-color: #0285c75d;
                }

                .icon {
                    font-size: 18px;
                    color: #0284c7b3;
                }

                span {
                    font-size: 13px;
                    font-weight: 600;
                    color: #888;
                    margin-left: 10px;
                }
            }
        }
    }

    .bottom {
        display: flex;
        align-items: center;
        margin: 10px;

        .color {
            width: 20px;
            height: 20px;
            border-radius: 5px;
            border: 1px solid #0284c7b3;
            cursor: pointer;
            margin: 5px;

            &:nth-child(1) {
                background-color: whitesmoke;
            }
            &:nth-child(1) {
                background-color: rgb(37, 37, 37);
            }
        }
    }
}